/* .body {
    font-family: "Roboto", sans-serif;
     
    
} */
@import '../../node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'), url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff'),
        url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: local('Inter'), url('./fonts/Inter-Medium.woff2') format('woff2'),
        url('./fonts/Inter-Medium.woff') format('woff'),
        url('./fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: local('Inter'), url('./fonts/Inter-SemiBold.woff2') format('woff2'),
        url('./fonts/Inter-SemiBold.woff') format('woff'),
        url('./fonts/Inter-SemiBold.ttf') format('truetype');
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
   box-shadow:
          0px 1px 6px 0px #2E2F4214,
          0px 1px 1px 0px #2E2F4229,
          0px 2px 1px 0px #2E2F4214;
  }
.flag{
    border-top: 10px;
    border-bottom: 15px;
    width: 100px;
    height: 70px;
    margin-right: 60px;
    margin-left: 8px;
}
.maps-sign{
    width: 70px;
    height: 70px;
}

.header-container{
    display: flex;
}
.header-list{
    display: flex;
    gap: 40px;
}

.item-flag{
    margin-left: auto;
    margin-right: 80px;
}
.item-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(10, 33, 112);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover,
.item-link:focus
{
color: rgb(234, 63, 63);
}

/*\\\\\\\\\\\\\\ sectoins\\\\\\\\\\\\\\\\\\\\\ */
.secton {
    border: 1px solid rgb(10, 33, 112);
    border-radius: 20px;
    margin-top: 5px;
    padding: 15px;
}

.hero-image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 5px;
    position: relative;
}

.hero-title{
    font-weight: 900;
    font-size: 56px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(222, 231, 222);
    position: absolute;
    top: 130px;
    left: 75px;
}

.section-title{
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 39px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(10, 33, 112);
     display: flex;
     justify-content: center;
}

.fact-list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.fact-img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid rgb(234, 63, 63);
}
.fact-title{
    margin-top: 20px;
   font-weight: 500;
    font-size: 39px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(1, 10, 42);
}
/* flip- cards */
.wrap-fact-card{
position: relative;
    width: 260px;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fact-cart {
    padding: 15px;
    backface-visibility: hidden;
    width: 260px;
    height: 450px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(0, 21, 255);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.back-fact-card{
padding: 15px;
width: 260px;
height: 450px;
 border-radius: 20px;
border: 1px solid rgb(0, 21, 255);
box-shadow: -11px 11px 37px 7px rgb(97, 104, 225);
position: absolute;
top: 0%;
left: 0%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform: rotateY(180deg);
}

.wrap-fact-card:hover {
    transform: rotateY(180deg);
}

.text{
margin-top: 5px;
font-weight: 400;
color: rgb(11, 12, 21);
text-align: justify;
}
.tips{
    padding: 25px;
}

/* top rout */
.routs{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);

}
.rout-list{
    width: 346px;
    height: 500px;
    border: 1px solid #05061a14;
    border-radius: 10px;
    padding: 13px;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
}

.rout-img{
    width: 320px;
    height: 200px;
}
.input{
    width: 660px;
        height: 56px;
        padding: 18px;
        gap: 10px;
        border-radius: 10px;
        background-color: #F7F7F7;
        border: none;
        text-indent: 30px;
        margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 110px;
}


.rout-item{
font-weight: 500;
    font-size: 29px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(234, 63, 63);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.link-rout{
    margin-top: auto;
}

.svg-heart{
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    fill: white;
    stroke:white;
}
.svg-heart-red {
    fill: rgb(234, 63, 63); 
        position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
            width: 35px;
            height: 30px;
    
}

