
@import '../../node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'), url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff'),
        url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: local('Inter'), url('./fonts/Inter-Medium.woff2') format('woff2'),
        url('./fonts/Inter-Medium.woff') format('woff'),
        url('./fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: local('Inter'), url('./fonts/Inter-SemiBold.woff2') format('woff2'),
        url('./fonts/Inter-SemiBold.woff') format('woff'),
        url('./fonts/Inter-SemiBold.ttf') format('truetype');
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
 width: 1490px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color:rgb(38, 47, 54) ;
}
.header {
    width: 100%;
    background-color: rgb(228, 231, 234);
        background-image:
                linear-gradient(rgba(171, 166, 166, 0.6), rgba(28, 27, 27, 0.6));
  }

.flag{
    border-top: 10px;
    border-bottom: 15px;
    width: 100px;
    height: 80px;
}

.maps-sign{
    width: 70px;
    height: 80px;
}

.header-container{
    display: flex;
    align-items: center;
}
.header-list{
    display: flex;
    gap: 40px;
}

.item-flag{
    margin-left: auto;
}

.item-link{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    color: rgb(54, 57, 66);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover,
.item-link:focus
{
color: rgb(234, 63, 63);
}

/*\\\\\\\\\\\\\\ sectoins\\\\\\\\\\\\\\\\\\\\\ */

.secton {
    border: 1px solid rgb(222, 231, 222);
    box-shadow:
            0px 2px 6px 0px #2E2F4214,
            0px 2px 1px 0px #2E2F4229,
            0px 2px 1px 0px #2E2F4214;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
}
.secton-hero{
    position: relative; 
}
.hero-image{
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow:
            1px 2px 5px 1px #2E2F4214,
}

.hero-title{
    font-weight: 900;
    font-size: 56px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(231, 226, 226);
    position: absolute;
    top: 70px;
    left: 75px;
}

.section-title{
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 49px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(54, 57, 66);
     display: flex;
     justify-content: center;
}


.facts .section-title {
    color: rgb(231, 226, 226);
}
.fact-list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.fact-img{
    width: 230px;
    height: 250px;
    border-radius: 15px;
}
.fact-title{
    margin-top: 20px;
   font-weight: 500;
    font-size: 39px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(1, 10, 42);
}
/* flip- cards */
.wrap-fact-card{
position: relative;
    width: 260px;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fact-cart {
    padding: 15px;
    backface-visibility: hidden;
    width: 260px;
    height: 450px;
    border-radius: 20px;
    background-color: rgb(231, 226, 226);
    border: 1px solid rgba(135, 138, 135, 0.974);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.back-fact-card{    
background-color: rgb(217, 216, 233);
padding: 15px;
width: 260px;
height: 450px;
 border-radius: 20px;
    box-shadow:
            2px 2px 10px 0px rgb(233, 233, 238),
            2px 2px 1px 0px rgb(233, 233, 237),
            2px 2px 1px 0px rgb(229, 230, 234);
position: absolute;
top: 0%;
left: 0%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform: rotateY(180deg);
}

.wrap-fact-card:hover,
.wrap-fact-card:focus {
    transform: rotateY(180deg);
}

.text{
margin-top: 15px;
    font-weight: 600;
    color: rgb(11, 12, 21);
    text-align: justify;
}

.wrap-back-card{
    border: 10px;
    border-radius: 20px;
    border-color: 1px solid rgb(54, 57, 66); ;
}

.tips{
    padding: 25px;
    background-color: rgb(217, 216, 233);
}
.tips-title{
    margin-bottom: 25px;
    margin-top: 20px;
        font-weight: 700;
        font-size: 39px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color:rgb(234, 63, 63);
    }
 .text-tips{
    margin-bottom: 25px;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: rgb(11, 12, 21);
        text-align: justify;
 }  
 .span-tips{
    margin-bottom: 25px;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: rgb(11, 12, 21);
 }
 .wrap-tips{
    display: flex;
    gap: 30px;
    margin-top: 15px;
 }
 .img-tips{
    width: 550px;
    height: 320px;
 }
/* top rout */
.routs{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);

}
.rout-list{
    background-color: rgb(231, 226, 226);
    width: 340px;
    border: 1px solid #05061a14;
    border-radius: 10px;
    padding: 13px;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
}

.rout-img{
    width: 320px;
    height: 200px;
}
.input{
    width: 760px;
        height: 56px;
        padding: 18px;
        gap: 10px;
        border-radius: 10px;
        background-color: #F7F7F7;
        border: none;
        text-indent: 30px;
        margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 100px;
}


.rout-item{
font-weight: 500;
    font-size: 29px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(234, 63, 63);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.link-rout{
    margin-top: auto;
}

.svg-heart{
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    fill: white;
    stroke:white;
}

.svg-heart-red {
    fill: rgb(234, 63, 63); 
        position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
            width: 35px;
            height: 30px;
}

.rout-link{
    display: block;
    margin-top: 10px;
    color: rgb(1, 10, 42);
    transition: color 650ms cubic-bezier(0.4, 0, 0.2, 1);

}
.rout-link:hover,
.rout-link:focus{
color:rgb(234, 63, 63);
}

.wrap-weather{
    display: flex;
    align-items: center;
}
.forecast{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.degree{
 font-weight: 600;
 font-size: 24px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 color: ( 1, 10, 42);
}


.footer {
    position: relative;
    background-image:
        linear-gradient(rgba(171, 166, 166, 0.6), rgba(28, 27, 27, 0.6)),
        url('https://img.goodfon.com/wallpaper/big/c/43/priroda-gory-nebo-skaly-blake-randall-kanada-canada-tuman.webp');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 15px;
    color: rgba(135, 138, 135, 0.974);
    font-size: 20px;
    text-align: center;
}


.footer-text {
   position: absolute;
}

.footer-p{
    margin-right: 15px;
}